# https://github.com/gregrickaby/nextjs-github-pages/blob/main/.github/workflows/deploy.yml

name: Deploy to Github Pages

on:
    push:
        branches:
            - main

    workflow_dispatch:

env:
    VITE_BACKEND_APIL: ${{ vars.VITE_BACKEND_APIL }}

jobs:
    deployment:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: "22.x"
                  cache: "yarn"

            - name: Build
              run: |
                  yarn install
                  yarn build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
